/* Chart */

.chart {
    padding-bottom: 120px;
}

.chart h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 100px;
}

.chart h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 40px;
}

.chart p {
    color: #E0E0E0;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 1.5rem 0 3rem;
}

.chart a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    padding: 1rem 2rem;
    background-color: #3671E9;
    border: 2px solid transparent;
    border-radius: 2rem;
}

.chart a:hover {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    transition: 0.5s;
}

.chart .col-lg-6 h3 {
    margin-top: 100px;
}

/* Form */

.chart .form {
    border-radius: 1rem;
    padding: 3rem;
    background-color: #3671E9;
    margin-top: 70px;
}

.chart .form h2, p {
    margin: 0;
}

#subscribe {
    color: #0D0D2B;    
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    padding: 1rem 2rem;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 2rem;
}

#subscribe:hover {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    transition: 0.5s;
}

#email {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    outline: none;
    padding: 0.5rem 0;
    margin-bottom: 6rem;
    margin-right: 3rem;
    background-color: transparent;
    width: 370px;
    height: 41px;
}

#email::placeholder {
color: #fff;
}