/* Mining  */

.mining .col-lg-3 {
    padding: 3rem 0;
    margin: 1rem;
    border-radius: 1rem;
}

.mining h2 {
    color: #0D0D2B;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 4rem;
}

.mining h4 {
    color: #0D0D2B;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    padding-left: 2rem;
}

.mining h4 span {
    color: #BDBDBD;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}

.mining p {
    color: #828282;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 1rem 0 1.5rem;
}

.mining a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    padding: 1rem;
    background-color: #3671E9;
    border-radius: 2rem;
    display: none;    
    border: 2px solid transparent;
}

.mining a img {
    padding-left: 1.5rem;
}

.mining .circle {
    width: 64px;
    border: 1px solid #2B076E33;
    border-radius: 100%;
}

/* Hover */

.mining .col-lg-3:hover {
    background-color: #2B076E;    
    transition: 1s;
}

.mining .col-lg-3:hover p {
    color: #fff;    
    transition: 1s;
}

.mining .col-lg-3:hover h4 {
    color: #fff;
    transition: 1s;
}

.mining .col-lg-3:hover a {
    display: inline-block;
    transition: 1s;
}

.mining .col-lg-3:hover .circle {
    display: none;
}

.mining a:hover {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    transition: 1s;
}

.mining a:hover img{
    padding-left: 3rem;
    transition: 0.5s;
}